* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
        --fundo-sidebar: #123ba5;
        --cor-fonte: #FFFFFF;
        --cor-titulo: #b1b1b1;
        --cor-hover: #0E1B3C;
        --cor-linha: #a09494;
        --font-main: "arial", sans-serif;
}

.container {
    position: fixed;
    width: 250px;
    height: 100vh;
    background-color: var(--fundo-sidebar);
    font-family: var(--font-main);
    display: flex;
    flex-direction: column;
}

.header {
    padding: 35px;
    border-bottom: 1px solid var(--cor-linha);
}
.Principal {
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
    margin: 10px 10px;
    color: var(--cor-fonte);
}

.Gestao {
    display: flex;
    flex-direction: column;

    margin-bottom: 20px;
    margin: 10px 10px;
    color: var(--cor-fonte);
}

.principaltexto {
    color: var(--cor-titulo);
    font-size: 15px;
}

.gestaotexto {
    color: var(--cor-titulo);
    font-size: 15px;
}

.menu-item:hover {
    background-color: var(--cor-hover);
    cursor: pointer;
}
.menu-item {
    padding: 10px;
    border-radius: 10px;
    text-decoration: none;
    color: var(--cor-fonte)
}

.header {
    color: var(--cor-fonte)
}

.footer {
    margin-top: auto;
    border-top: 1px solid var(--cor-linha);

}
.footer footer{
    display: flex;
    gap: 10px;
    color: var(--cor-fonte);
    margin: 15px;
    padding-top: 30px;
    justify-content: space-between
}
.usuarioinfo {
    display: flex;
    flex-direction: column;
}
#usuariofuncao {
    color: var(--cor-titulo)
}
.logout {
    color: var(--cor-titulo);
}
.usuariofoto {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: var(--cor-fonte);
    color: var(--fundo-sidebar)
}
.logoutarea {
    padding: 8px;
    border-radius: 8px;
}
.logoutarea:hover {
    background-color: var(--cor-hover);
    cursor: pointer;
}
